nav {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 15px;
}
nav a {
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding: 15px;
}
#home:hover, #menu:hover {
    background-color: red;
}
footer nav {
    padding: 0;
    background-color: white;
}
footer nav a {
    color: black;
    display: flex;
    justify-content: center;
}
